#leaderboardRoot {
    -fx-background-color: #000000;
}
.table-view {
    -fx-border-style: none;
    -fx-border-width: 0;
    -fx-background-color: transparent;
}

.table-view .placeholder .label {
    -fx-text-fill: blue;
}

.table-view .column-header{
    -fx-background-color: black;
}

.table-view .column-header .label {
    -fx-text-fill: blue;
    -fx-background-color: black;
}

#scoreTable .table-cell  {
    -fx-alignment: center;
    -fx-background-color: black;
    -fx-text-fill: blue;
    -fx-font-size: 14px;
    -fx-border-color: transparent;
}

#scoreTable .table-row-cell{
    -fx-text-fill: white;
}

#titleLabel {
    -fx-font-size: 24px;
    -fx-text-fill: black;
    -fx-background-color: #44ff00;
}

.button {
    -fx-pref-width: 150;
    -fx-font-size: 14px;
    -fx-padding: 5 10;
    -fx-background-color: transparent;
    -fx-text-fill: blue;
    -fx-border: 2 2 2 2;
    -fx-border-color: blue;
    -fx-cursor: hand;
}

.button:hover {
    -fx-border-color: red;
    -fx-background-color: red;
    -fx-text-fill: black;
}


