/* Apply styles to the gameEndRoot VBox */
#gameEndRoot {
-fx-background-color: black; /* Light grey background */
}

/* Apply styles to the gameOverLabel */
#gameOverLabel {
    -fx-font-size: 24px;
    -fx-text-fill: red;
}

/* Apply styles to the scoreLabel */
#endScoreLabel {
    -fx-font-size: 18px;
    -fx-text-fill: #44ff00;
}

/* Apply styles to the nameInput TextField */
#nameInput {
    -fx-background-color: transparent;
    -fx-text-fill: blue;
    -fx-border-color: blue;
    -fx-border-width: 0 0 2 0;
    -fx-padding: 0 0 5 0;
}

#nameInput:focused{
    -fx-focus-color: transparent;
}

